h1{
    color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-top: 20px;
    display-left: 25%;
}
h2{
    color: blue;
    border: 1px;
}

/* KEY: Invalid CSS */
word{
    better: green;
    font-weight: bold;
}
''